p{
    color: white;
}
/*комментарий в CSS*/
/*
<селектор>{
    <свойство 1>: <значение>;
    <свойство 2>: <значение>;
    ....
}

селектор это набор правил, которым должны соответсвовать элементы
(теги)  HTML для применения к ним стилей
*/

/*
селектор по тегу
применится ко всем тегам "р" в документе
*/
p {
    font-weight: 900;/*жирный шрифт*/

}
/*
    селектор по индентификатору
*/
#a1{
    border: 1px outset fuchsia;
}

/*
селектор по классу
*/
.g1{
   font-style: italic; 
}
.c1{
    text-decoration: underline; 
 }

 /*
 селектор по атрибуту
 */
a[href]{
    background: green;
    font-size: 45px;
}
/*=для всех p у которых id ="a1"*/
p[id="a1"]{
    cursor: pointer;
}
/* ^= для всех тегов a, у которых значение атрибута href начинается зканчивается на "ru"*/
a[href^="https"]{
    border: 3px outset red;
}
/* $= для всех тегов a, у которых значение атрибута href начинается с "https"*/
a[href$="ru"]{
    border: 3px outset yellow;
}
/*
*="выражение"значение атрибута содержит часть выражения
~="выражение" значение атрибута содержит выражение, отделенное пробелом
<div class=c1 c2 c3></div>
div[class~="c2"]{}
*/
/*
Селектор по псевдоклассу*/
a:visited{
    background: yellow;
}
div:hover{
    opacity: 0;
}
/*селектор по псевдоэлементу*/
p::first-letter{
    font-size: 56px;
    color: purple;
}
/*
универасльный селектор
(применяется ко всем элементам)
*/
*{
    padding: 0;
    margin: 0;
}
/*
комбинированные селекторы
*/

/*селектор применяется для всех a & p  и для div:hover*/
a,p,div:hover{

}
/*для всех div, которые являются потомками p, которые в свою очередь являются потомками a*/
a p div{}

/*
> для всех р, которые являются потомками тега div,
которые в свою очередь являются непосредственными потомками тега а
между тегом а и div  не должно быть других элементов
*/
a > div p{}
/*
+  для первого div следующего сразу за элементом р
*/
p + div{}
/*
~для всех div , которые располагаются после a
*/
a ~ div{}

/*Пример*/
div p:hover + pre.c1~div#test>span{}